<template name="notesList">
    <div class="container notes_list">
        <div class="row">
            {{#each notes}}
                {{> notesRow this}}
            {{/each}}
        </div>
    </div>
    <footer>
        <button id="note_add" class="circle_btn hidden">+</button>
    </footer>
</template>


<template name="notesRow">
    <div class="note_row">
        <h2>
            {{#if bookmark}}
                <i class="fa fa-bookmark"></i>
            {{/if}}
            {{title}}
        </h2>
    </div>
</template>